/*

Rockstar 0.91

Table design by Jens Wedin, www.jedisthlm.com

*/
table{
     border-collapse: separate; 
     border-spacing: 0; 
     margin: 0 0 1em 0; 
     color:#000;
     border: 1px solid #cccccc; 
     background: #f9f9f9 url(images/ui-bg_highlight-hard_100_f9f9f9_1x100.png) 50% top repeat-x; 
     color: #222222;
}







thead th,

thead td			{font-weight: bold; line-height:normal; text-align: left; border-bottom: 0.4em solid #09f;}



tfoot th,

tfoot td			{text-align: left; border-top: 0.4em solid #09f; font-weight: bold}



th,

td 					{padding: 0.25em;}



tbody th,

td					{text-align: left; vertical-align: top;}

tbody th			{font-weight: normal; white-space: nowrap;}



tbody th a:link,

tbody th a:visited 	{font-weight: bold;}



tbody th + td		{white-space: nowrap;}



tbody td,

tbody th 			{border: 1px solid #fff; border-width: 1px 0;}



tbody tr.odd th,

tbody tr.odd td 	{border-color: #deded8; background: #f9f9fb;}



.tabla tbody tr:hover td,

.tabla tbody tr:hover th 	{background:#CCCCCC;}

caption 			{font-weight: bold; font-size: 1.7em; text-align: left; margin: 0; padding: 0.5em 0.25em;}



td + td + td + td {white-space: nowrap;}



